accelerate
bitsandbytes
bs4
pypdf
chromadb
faiss-cpu
langchain_openai 
langchain_core
python-dotenv
streamlit
langchain_community
langserve
fastapi
uvicorn
sse_starlette
groq
cassio
beautifulsoup4
langchain-groq
wikipedia
arxiv
langchainhub
chainlit
openai
google-generativeai
langchain_google_genai